---
- name: mise | Install mise
  shell: curl https://mise.run | sh
  args:
    creates: "{{ ansible_exec_user_home }}/.local/bin/mise"

- name: mise | Install tools
  shell: "mise install"
  environment:
    PATH: "{{ ansible_exec_user_home }}/.local/bin:{{ ansible_env.PATH }}"
