[defaults]
#stdout_callback = debug
stdout_callback = yaml

[ssh_connection]
# "-o ControlMaster=auto -o ControlPersist=60s" is ansible default settings
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
